<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ReadLog</title>
  <%= stylesheet_link_tag    'application_top', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="app/assets/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="app/assets/stylesheets/style.min.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
